.bookings {

    display: flex;
    flex-direction: row;
    gap: 5em;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);

    & button {
        border-radius: 0;
    }

}

.textArea {
    max-width: 350px;
    text-align: center;
}