.bookings {
    display: flex;
    flex-direction: row;
    gap: 5em;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2rem 0 2rem 0;
    padding: 2rem 0 2rem 0;
}

.textArea {
    max-width: 350px;
    text-align: center;
}

@media (max-width: 1020px) {

    .bookings {
        flex-direction: column;
        gap: 1em;
    }
}