.charterTours {


    scroll-margin: 6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 60%;
    margin: 3em auto 0 auto;
    padding-top: 2em;
}

.charterTours .grid1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3em;
    padding: 2em;
    text-align: start;
    align-items: center;
}

.charterTours h3 {
    margin-bottom: 3em;
}

.charterTours p {
    margin-bottom: 4em;
}

@media (max-width: 1366px) {
    .charterTours {
        max-width: 80%;
        margin: 2em auto;
    }

    .charterTours .grid1 {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1em;
        padding: 1em 0;
    }

    .charterTours h3 {
        margin-bottom: 2em;
    }

    .charterTours p {
        margin-bottom: 3em;
    }

    .charterTours img {
        width: 100%;
    }
}