* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
    margin: 0.5em 0;
}

h3 {
    font-size: 1rem;
}

p {
    margin: 1em 0;
}


.hero-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.3)), url(../assets/images/hero-banner.jpg) left / cover no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 5em;
    text-align: center;
}

.hero-banner button {
    padding: 1em 1.5em;
    border-radius: 0.5em;
    border: none;
    animation: pulse 2s infinite;
}

.hero-banner button:hover {
    transform: scale(1.1);
    animation: none;
}

.content {
    margin-bottom: 2rem;
}

.charters img {
    max-width: 500px;
    width: 100%;

}

.sarkIsland .grid1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    padding: 1em;
    text-align: start;

}

.sarkIsland img {
    align-self: center;
    max-width: 500px;
}

.sarkIsland h2 {
    margin-top: 0;
    padding-top: 0;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(0.95);
    }
}