* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
    margin: 0.5em 0;
}

h3 {
    font-size: 1rem;
}

p {
    margin: 1em 0;
}


.hero-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.3)), url(../assets/images/hero-banner.jpg) left / cover no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 5em;
    text-align: center;
}

/* From Uiverse.io by adamgiebl */
.cssbuttons-io-button {
    background: #D9A404;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #D9A404;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #D9A404;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #D9A404;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}


.content {
    margin-bottom: 2rem;
}

.charters img {
    max-width: 500px;
    width: 100%;

}

.sarkIsland .grid1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    padding: 1em;
    text-align: start;

}

.sarkIsland img {
    align-self: center;
    max-width: 500px;
}

.sarkIsland h2 {
    margin-top: 0;
    padding-top: 0;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(0.95);
    }
}