.calendarDisplay {
    width: 350px;
    height: 3em;
    background-color: white;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & p {
        margin-left: 1em;
        margin-right: 1em;
    }
}


.react-calendar__tile--now {
    /* Style for the current date */
    background: lightblue;
    /* Example */
}

.fully-booked {
    background-color: #ffcccc;
    /* Light red */
    color: #880000;
    /* Darker red text */
    cursor: not-allowed;
    /* Indicate not clickable */
}

.partially-booked {
    background-color: #ffffcc;
    /* Light yellow */
}

.available {
    background-color: #ccffcc;
    /* Light green */
}

/* Optional: Style the tile when it's active/selected */
.react-calendar__tile--active {
    background: #007bff;
    /* Example blue */
    color: white;
}