.navbar {
    width: 100%;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5em;
    position: absolute;
    top: 0;
    padding: 0.5em 0;
    z-index: 1;


    & a {
        font-size: 1em;
        font-weight: 600;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }


    & a.active {
        color: rgb(204, 204, 204);
    }

    & a:hover {
        color: rgb(204, 204, 204);
        transform: scale(1.1);
    }
}

.sticky-nav {
    background-color: rgba(27, 27, 27, 0.861);
    transition: 0.5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
}