a {
    text-decoration: none;
    color: inherit;
}

.reviewsContainer {
    margin: 2em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviewCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 7rem;
    border: 1px solid black;
    border-radius: 0.5em;
    background-color: white;
    filter: drop-shadow(0.5em 0.5em grey);
    transition: 0.3s ease-in-out;
}

.reviewCard span {
    display: flex;
}

.reviewCard:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.gold {
    color: goldenrod;
}

@media (max-width: 1366px) {

    .reviews {
        max-width: 80%;
    }

    .reviewsContainer {
        justify-content: space-around;
    }

    .reviewCard {
        width: 15rem;
        height: 7rem;
    }
}

@media (max-width: 800px) {

    .reviews {
        display: flex;
        flex-direction: column;
        max-width: 95%;
    }

    .reviewsContainer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .reviewCard {
        width: 90%;
        height: auto;
        padding: 1em;
        flex-direction: column;
        text-align: center;
    }

    .reviewCard img {
        width: 30px;
        height: auto;
    }

    .reviewCard span {
        flex-direction: column;
        align-items: center;
    }

    .reviewCard p {
        margin: 0;
    }

}