a {
    text-decoration: none;
    color: inherit;
}

.reviewsContainer {
    margin: 2em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviewCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 7rem;
    border: 1px solid black;
    border-radius: 0.5em;
    background-color: white;
    filter: drop-shadow(0.5em 0.5em grey);
    transition: 0.3s ease-in-out;
}

.reviewCard span {
    display: flex;
}

.reviewCard:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.gold {
    color: goldenrod;
}